* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: cover;
  background-image: url('../assets/5386360.jpg');
  color: #fff;
  font-family: "Indie Flower", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Shadows Into Light", cursive;
  margin: auto;
}

.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

h1 {
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vmin;
  margin: 5vmin 0 0;
}

h2 {
  padding: 1vmin 10vmin 0;
}

h2 span {
  font-size: 3vmin;
  font-family: "Roboto", sans-serif;
}

.scores {
  background-color: black;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vmin;
}

.scores h2:nth-of-type(2) {
  margin-bottom: 3vmin;
}

.grid {
  align-items: center;
  background-color: black;
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  width: 600px;
}

.grid > div {
  flex-grow: 1;
  height: 10%;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  width: 10%;
}

#resetBTN {
  margin: 5vmin 0 7vmin;
  border-radius: 3vmin;
  border: none;
  background-color: gray;
  padding: 2vmin;
  cursor: pointer;
  font-size: 2vmin;
  transition: all 0.3s ease-in;
}

#resetBTN:hover {
  background-color: darkgray;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
}

.snakeFood {
  /* background-color: red; */
  background-image: url('../assets/—Pngtree—red apple fruit vector art_8391169.png');
  border-radius: 50%;
  z-index: 0;
  transition: all 0.2s ease-in;
}

.popUpScore {
  color: rgba(233, 0, 233);
}

.snake {
  background-color: rgba(113, 189, 129, 0.90);
}

.snakeHead {
  background: rgb(113, 200, 129);
}

.border {
  opacity: 1;
  background-color: white;
  box-shadow: rgba(233, 0, 233, 0.5) 0px 7px 30px 0px;
  position: relative;
  transition: all 1s ease-in-out;
  z-index: 9999999;
}

.gameOver {
  background-color: darkgrey;
  color: purple;
  position: fixed;
  top: 1;
  left: 1;
  right: 1;
  bottom: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15vmin; */
  margin-top: 6.5vmin;
  width: 600px;
  font-size: 50px;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease-in;
  font-family: "Roboto", sans-serif;
}

.gameOver > P {
  font-size: 10vmin;
}

.gameOver.open {
  opacity: 0.8;
  z-index: 999999;
}
